# Temel bağımlılıklar
numpy==2.3.0           
opencv-python==4.11.0.86  
dlib==20.0.0            
pygame==2.6.1           
ultralytics==8.3.152    

# Ultralytics’in altında dolaylı gelse de, sürüm eşleşmelerini kontrol etmek için ekledik
torch==2.7.1            
torchvision==0.22.1    
